@media print {
    body * {
      visibility: hidden;
    }
  
    /* Show only the content inside the child container */
    #printable-form, #printable-form * {
      visibility: visible;
    }
  
    /* Ensure the child container takes up the full page */
    #printable-form {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0; /* Removed non-breaking space */
    }
  }
  
  .parent{
    display: flex;
    justify-content: center;
    background-color: transparent;
    align-items: baseline;
  }
  .wid{
    margin:15px;
    padding:8px;
    width: 210mm; /* A4 width */
    height: 297mm; /* A4 height */ 
    padding: 20px;
    text-align: left;
    background: white;
    color: #000;
  }
  .head {
      text-align:center;
      border-bottom: 8px double #5D3FD3;
  }
  h1{
      color:#E30B5C;
  }
  h3{
      color:#E30B5C;
  
  }
  .let{
      color:#5D3FD3;
      line-height:1.2;
      float:right;
  }
  p{
      font-weight:600;
  }
  
  body {
      background: rgb(204,204,204); 
    }
  
    page {
      background: white;
      display: block;
      margin: auto;
      margin-bottom: 0.5cm;
      box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    page[size="A4"] {  
      width: 21cm;
      height: 29.7cm; 
    }
    @media print {
      body, page {
        background: white;
        margin: 0;
        box-shadow: 0;
      }
    }
  